[user]
	name = Wang Lu
	email = cnwanglu@icloud.com
[core]
	editor = vim
[log]
	date = local
	decorate = yes
[color]
	ui = auto
[pull]
	ff = only
[http]
	postBuffer = 1048576000
[https]
	postBuffer = 524288000
